@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300&display=swap');



#menu{
    a{
        font-family: 'Poppins', light;
    }
}
.Bblanc{
    font-family: 'Poppins', semibold;
}
.Bvert{
    font-family: 'Poppins', semibold;
}
#slogan{
    h1{
        font-family: 'Poppins', medium;
    }
    h2{
        font-family: 'Poppins', italic;
    }
}
h2{
    font-family: 'Poppins', semibold;
}
p{
    font-family: 'Poppins', regular;
}
.TousArticles{
    h3{
        font-family: 'Poppins', medium;
    }
    .price{
        p{
            font-family: 'Poppins', medium;
        }
    }
}
#ThirdBox{
    h2{
        font-family: 'Poppins', italic;
    }
}
label{
    font-family: italic;
}
.section{
    h3{
        font-family: 'Poppins', semibold;
    }
    a{
        font-family: 'Poppins', regular;
    }
}




