footer{
    background-color: #B2D234;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 37vh;
    @media (min-width: 768px) and (max-width: 1023px){
        display: flex;
        justify-content: space-around;
    }

    h3{
        font-size: 27px;
        color: #FFFFFF;
        padding-bottom: 5vh;
        @media (min-width: 768px) and (max-width: 1023px){
            font-size: 18px;
        }
        @media (min-width: 425px) and (max-width: 596px){
            font-size: 10px;
            }
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 18px;
        padding-bottom: 2vh;
        @media (min-width: 768px) and (max-width: 1023px){
            font-size: 13px;
        }
        @media (min-width: 425px) and (max-width: 596px){
            font-size: 10px;
            }
    }
    .logo{
        width: 22vw;
        margin-left: 4vw;
    }
    .menu{
        display: flex;
        padding-right: 7vw;
        width: 65vw;
        justify-content: space-between;
        @media (min-width: 768px) and (max-width: 1023px){
            padding-right: 0;
        }

        .section{
            display: flex;
            flex-direction: column;

            ul{
                display: flex;
                flex-direction: column;
            }
        }
    }
}