.Bblanc{
    background-color: #FFFFFF;
    color: #B2D234;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: #FFFFFF solid;
    border-radius: 7px;
    @media (min-width: 768px) and (max-width: 1023px){
        padding-left: 1vw;
        padding-right: 1vw;
    }
    @media (min-width: 425px) and (max-width: 596px){
        padding: 0 0 0 0;
}
}
.Bvert{
    background-color: #B2D234;
    color: #FFFFFF;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: #B2D234 solid;
    border-radius: 7px;
    @media (min-width: 425px) and (max-width: 596px){
        padding: 0 0 0 0;
        }
}