@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu a {
  font-family: "Poppins", light;
}

.Bblanc {
  font-family: "Poppins", semibold;
}

.Bvert {
  font-family: "Poppins", semibold;
}

#slogan h1 {
  font-family: "Poppins", medium;
}
#slogan h2 {
  font-family: "Poppins", italic;
}

h2 {
  font-family: "Poppins", semibold;
}

p {
  font-family: "Poppins", regular;
}

.TousArticles h3 {
  font-family: "Poppins", medium;
}
.TousArticles .price p {
  font-family: "Poppins", medium;
}

#ThirdBox h2 {
  font-family: "Poppins", italic;
}

label {
  font-family: italic;
}

.section h3 {
  font-family: "Poppins", semibold;
}
.section a {
  font-family: "Poppins", regular;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  width: 94vw;
}
header .logo {
  padding-left: 3%;
  width: 15%;
}
header #menu {
  display: flex;
}
header #menu a {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 70px;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  header #menu a {
    padding-right: 10px;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  header #menu a {
    font-size: 10px;
    padding-right: 5px;
  }
}

footer {
  background-color: #B2D234;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 37vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    display: flex;
    justify-content: space-around;
  }
}
footer h3 {
  font-size: 27px;
  color: #FFFFFF;
  padding-bottom: 5vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer h3 {
    font-size: 18px;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  footer h3 {
    font-size: 10px;
  }
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  padding-bottom: 2vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer a {
    font-size: 13px;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  footer a {
    font-size: 10px;
  }
}
footer .logo {
  width: 22vw;
  margin-left: 4vw;
}
footer .menu {
  display: flex;
  padding-right: 7vw;
  width: 65vw;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .menu {
    padding-right: 0;
  }
}
footer .menu .section {
  display: flex;
  flex-direction: column;
}
footer .menu .section ul {
  display: flex;
  flex-direction: column;
}

.Bblanc {
  background-color: #FFFFFF;
  color: #B2D234;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: #FFFFFF solid;
  border-radius: 7px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Bblanc {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  .Bblanc {
    padding: 0 0 0 0;
  }
}

.Bvert {
  background-color: #B2D234;
  color: #FFFFFF;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: #B2D234 solid;
  border-radius: 7px;
}
@media (min-width: 425px) and (max-width: 596px) {
  .Bvert {
    padding: 0 0 0 0;
  }
}

form {
  padding-top: 5%;
  color: #B2D234;
}
form .FormSection {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
form .FormSection input {
  padding: 2%;
}
form #NomPrenom {
  display: flex;
  justify-content: center;
}
form #NomPrenom .FormSection {
  width: 100%;
}
form #email {
  padding: 1%;
}
form #message {
  padding: 4%;
}
form #Bpostuler {
  display: flex;
  justify-content: center;
}

#FirstBlock {
  background-image: linear-gradient(to bottom right, rgba(96, 160, 216, 0.5215686275), rgba(178, 210, 52, 0.5215686275)), url("../images/background_first_block.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#FirstBlock #slogan {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-content: center;
  flex-wrap: wrap;
}
#FirstBlock #slogan h2 {
  font-size: 54px;
  color: #FFFFFF;
  transform: rotate(-9deg);
  margin-left: 2%;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FirstBlock #slogan h2 {
    text-align: center;
    font-size: 40px;
  }
}

#SecondBlock {
  background-image: url("../images/background_second_block2.png"), linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 60%, 100%, 20%;
  object-fit: cover;
  background-position: 110%, right, top left;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #SecondBlock {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%, 20%;
    object-fit: cover;
    background-position: right, top left;
    width: 100vw;
    height: 100vh;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  #SecondBlock {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%, 20%;
    object-fit: cover;
    background-position: right, top left;
    width: 100vw;
    height: 100vh;
  }
}
#SecondBlock h2 {
  color: #B2D234;
}
#SecondBlock #text {
  margin-left: 10%;
  padding-top: 10%;
}
#SecondBlock #text #description {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 25vw;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #SecondBlock #text #description {
    width: 100%;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  #SecondBlock #text #description {
    width: 100%;
    padding-right: 2%;
  }
}
#SecondBlock #text #description p {
  padding-bottom: 3%;
}

#ThirdBlock {
  background-image: url("../images/background_third_block.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 120vh;
}
#ThirdBlock #BlockText {
  padding-top: 8%;
  width: 40vw;
  margin-left: 45vw;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #ThirdBlock #BlockText {
    width: 50vw;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  #ThirdBlock #BlockText {
    width: 70vw;
    margin-left: 25vw;
  }
}
#ThirdBlock #BlockText #text {
  background-color: rgba(178, 210, 52, 0.85);
  padding: 5% 7% 6% 7%;
}
#ThirdBlock #BlockText #text #description {
  padding-top: 5%;
  padding-bottom: 5%;
}
#ThirdBlock #BlockText #text #description #debut {
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
}
#ThirdBlock #BlockText #text #description #debut p {
  width: 25vw;
}
@media (min-width: 425px) and (max-width: 1023px) {
  #ThirdBlock #BlockText #text #description #debut p {
    width: 100%;
  }
}
#ThirdBlock #BlockText #text #description #middle {
  display: flex;
  justify-content: center;
}
#ThirdBlock #BlockText #text #description #middle p {
  width: 23vw;
}
@media (min-width: 425px) and (max-width: 1023px) {
  #ThirdBlock #BlockText #text #description #middle p {
    width: 100%;
  }
}
#ThirdBlock #BlockText #text #description #fin {
  padding-top: 3%;
}
#ThirdBlock #BlockText #text h2 {
  color: #FFFFFF;
}
#ThirdBlock #BlockText #text p {
  color: #FFFFFF;
}

#FourthBlock {
  background-image: url("../images/pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 170vh;
}
#FourthBlock #FirstBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40vw;
  margin-left: 30vw;
  padding-top: 12vh;
}
@media (min-width: 425px) and (max-width: 1023px) {
  #FourthBlock #FirstBox {
    margin-left: 0;
    width: 100%;
  }
}
#FourthBlock #FirstBox h2 {
  color: #B2D234;
}
#FourthBlock #FirstBox p {
  padding-top: 3vh;
}
#FourthBlock #FirstBox #FirstP {
  padding-top: 5vh;
}
#FourthBlock #SecondAndThirdBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FourthBlock #SecondAndThirdBox {
    display: flex;
    justify-content: space-around;
  }
}
#FourthBlock #SecondAndThirdBox #SecondBox {
  display: flex;
  flex-direction: column;
  padding-top: 11vh;
  gap: 7vh;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FourthBlock #SecondAndThirdBox #SecondBox {
    display: flex;
    gap: 3vh;
    width: 50vw;
  }
}
#FourthBlock #SecondAndThirdBox #SecondBox #encadre {
  border: 1px solid #B2D234;
  position: relative;
}
#FourthBlock #SecondAndThirdBox #SecondBox #encadre::after {
  content: "La plus vendue !";
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #B2D234;
  padding: 0 6px;
  color: #FFFFFF;
  height: 25px;
  display: flex;
  align-items: center;
}
#FourthBlock #SecondAndThirdBox #SecondBox .TousArticles {
  padding: 1vh;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FourthBlock #SecondAndThirdBox #SecondBox .TousArticles p {
    font-size: 10px;
  }
}
#FourthBlock #SecondAndThirdBox #SecondBox .TitlePrice {
  display: flex;
  justify-content: space-between;
}
#FourthBlock #SecondAndThirdBox #SecondBox h3 {
  color: #B2D234;
}
#FourthBlock #SecondAndThirdBox #SecondBox .price {
  color: #B2D234;
}
#FourthBlock #SecondAndThirdBox #ThirdBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
#FourthBlock #SecondAndThirdBox #ThirdBox h2 {
  transform: rotate(-9deg);
}
@media (min-width: 425px) and (max-width: 596px) {
  #FourthBlock #SecondAndThirdBox #ThirdBox h2 {
    font-size: 25px;
  }
}
#FourthBlock #SecondAndThirdBox #ThirdBox #vert {
  color: #B2D234;
}
#FourthBlock #SecondAndThirdBox #ThirdBox #bleu {
  color: #60A0D8;
}
#FourthBlock #SecondAndThirdBox #ThirdBox #text {
  padding-top: 12vh;
  padding-bottom: 12vh;
}
#FourthBlock #SecondAndThirdBox #ThirdBox #text p {
  width: 22vw;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FourthBlock #SecondAndThirdBox #ThirdBox #text p {
    width: 100%;
    font-size: 12px;
  }
}

#FifthBlock {
  background-image: url("../images/background_fifth_block.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#FifthBlock h2 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FifthBlock h2 {
    font-size: 25px;
  }
}
#FifthBlock #BoxVerteAndBleu {
  display: flex;
  justify-content: center;
  padding-top: 22vh;
  color: #FFFFFF;
}
#FifthBlock #BoxVerte {
  background-color: rgba(178, 210, 52, 0.85);
  width: 45vw;
  height: 60vh;
  margin-right: 1vw;
  text-align: center;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FifthBlock #BoxVerte {
    height: auto;
  }
}
#FifthBlock #BoxVerte #text {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FifthBlock #BoxVerte #text p {
    font-size: 15px;
  }
}
#FifthBlock #BoxBleu {
  background-color: rgba(96, 160, 216, 0.85);
  width: 45vw;
  margin-left: 1vw;
  text-align: center;
}
#FifthBlock #BoxBleu #text {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 425px) and (max-width: 596px) {
  #FifthBlock #BoxBleu #text p {
    font-size: 15px;
  }
}

#SixthBlock {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: top left;
  width: 100vw;
  height: 120vh;
}
#SixthBlock #FirstAndSecondBox {
  width: 100vw;
  display: flex;
  align-items: center;
}
@media (min-width: 425px) and (max-width: 596px) {
  #SixthBlock #FirstAndSecondBox {
    justify-content: center;
  }
}
#SixthBlock #FirstAndSecondBox #FirstBox {
  background-image: url("../images/background_sixth_block.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
  margin: 6%;
}
@media (min-width: 425px) and (max-width: 596px) {
  #SixthBlock #FirstAndSecondBox #FirstBox {
    background-image: none;
    width: 0;
    margin: 0;
  }
}
#SixthBlock #FirstAndSecondBox #SecondBox {
  width: 60vw;
  margin: 6%;
}
#SixthBlock #FirstAndSecondBox #SecondBox h2 {
  color: #B2D234;
  padding-bottom: 6%;
  text-align: center;
}
#SixthBlock #FirstAndSecondBox #SecondBox p {
  text-align: center;
}

h1 {
  font-size: 126px;
  color: #FFFFFF;
}
@media (min-width: 425px) and (max-width: 596px) {
  h1 {
    font-size: 80px;
    text-align: center;
  }
}

h2 {
  font-size: 52px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 425px) and (max-width: 596px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
