@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'modules/button';
@import 'modules/carousel';
@import 'modules/form';

@import 'states/hover';
@import 'states/active';
@import 'states/disabled';

@import 'themes/theme-light';
@import 'themes/theme-dark';



#FirstBlock{
    background-image: linear-gradient(to bottom right, #60A0D885, #B2D23485), url("../images/background_first_block.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    #slogan{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-content: center;
        flex-wrap: wrap;

        h2{
            font-size: 54px;
            color: #FFFFFF;
            transform: rotate(-9deg);
            margin-left: 2%;
            @media(min-width: 425px) and (max-width: 596px){
                text-align: center;
                font-size: 40px;
            }
        }
    }
}
#SecondBlock {
    background-image:  url("../images/background_second_block2.png"), linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
    background-repeat: no-repeat,no-repeat, repeat;
    background-size: 60%, 100%, 20%;
    object-fit: cover;
    background-position: 110%, right, top left;
    width: 100vw;
    height: 100vh;
    @media (min-width: 768px) and (max-width: 1023px){
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
        background-repeat: no-repeat, repeat;
        background-size: 100%, 20%;
        object-fit: cover;
        background-position: right, top left;
        width: 100vw;
        height: 100vh;
    }
    @media (min-width: 425px) and (max-width: 596px){
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
        background-repeat: no-repeat, repeat;
        background-size: 100%, 20%;
        object-fit: cover;
        background-position: right, top left;
        width: 100vw;
        height: 100vh;
    }

    h2{
        color: #B2D234;
    }
    #text{
        margin-left: 10%;
        padding-top: 10%;

        #description{
            margin-top: 4%;
            margin-bottom: 4%;
            width: 25vw;
            @media (min-width: 768px) and (max-width: 1023px){
                width: 100%;
            }
            @media (min-width: 425px) and (max-width: 596px){
                width: 100%;
                padding-right: 2%;
            }

            p{
                padding-bottom: 3%;
            }
        }
    }
}
#ThirdBlock{
    background-image: url("../images/background_third_block.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 120vh;

    #BlockText{
        padding-top: 8%;
        width: 40vw;
        margin-left: 45vw;
        text-align: center;

        @media (min-width: 768px) and (max-width: 1023px){
            width: 50vw;
        }
        @media (min-width: 425px) and (max-width: 596px){
            width: 70vw;
            margin-left: 25vw;
        }

        #text{
        background-color: rgba($color: #B2D234, $alpha: 0.85);
        padding: 5% 7% 6% 7%;
        
        #description{
            padding-top: 5%;
            padding-bottom: 5%;

            #debut{
                padding-bottom: 3%;
                display: flex;
                justify-content: center;

                p{
                    width: 25vw;
                    @media (min-width: 425px) and (max-width: 1023px){
                        width: 100%;
                    }
                }
            }
            #middle{
                display: flex;
                justify-content: center;

                p{
                    width: 23vw;
                    @media (min-width: 425px) and (max-width: 1023px){
                        width: 100%;
                    }
                }
            }
            #fin{
                padding-top: 3%;
            }
        }
        h2{
            color: #FFFFFF;
        }
        p{
            color: #FFFFFF;
        }
        }
    }
    
}
#FourthBlock{
    background-image: url("../images/pattern.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 170vh;

    #FirstBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40vw;
        margin-left: 30vw;
        padding-top: 12vh;
        @media (min-width: 425px) and (max-width: 1023px){
            margin-left: 0;
            width: 100%;
        }

        h2{
            color: #B2D234;
        }
        p{
            padding-top: 3vh;
        }
        #FirstP{
            padding-top: 5vh;
        }

    }
    #SecondAndThirdBox{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 425px) and (max-width: 596px){
            display: flex;
            justify-content: space-around;
        }

        #SecondBox{
            display: flex;
            flex-direction: column;
            padding-top: 11vh;
            gap: 7vh;
            @media (min-width: 425px) and (max-width: 596px){
                display: flex;
                gap: 3vh;
                width: 50vw;
            }
    

            #encadre{
                border: 1px solid #B2D234;
                position: relative;
            }
            #encadre::after{
                content: "La plus vendue !";
                position: absolute;
                top: -25px;
                right: 0;
                background-color: #B2D234;
                padding: 0 6px;
                color: #FFFFFF;
                height: 25px;
                display: flex;
                align-items: center;
            }
            .TousArticles{
                padding: 1vh;

                p{
                    @media (min-width: 425px) and (max-width: 596px){
                        font-size: 10px;
                    }
            
                }
            }
            .TitlePrice{
                display: flex;
                justify-content: space-between;
            }
            h3{
                color: #B2D234;
            }
            .price{
                color: #B2D234;
            }
        }
        #ThirdBox{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40vw;

            h2{
                transform: rotate(-9deg);
                @media (min-width: 425px) and (max-width: 596px){
                    font-size: 25px;
                }
        
            }
            #vert{
                color: #B2D234;
            }
            #bleu{
                color: #60A0D8;
            }
            #text{
                padding-top: 12vh;
                padding-bottom: 12vh;
                p{
                    width: 22vw;
                    @media (min-width: 425px) and (max-width: 596px){
                        width: 100%;
                        font-size: 12px;
                    }
            
                }
            }
        }
    }
}
#FifthBlock{
    background-image: url("../images/background_fifth_block.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    h2{
        padding-top: 5vh;
        padding-bottom: 5vh;
        @media (min-width: 425px) and (max-width: 596px){
            font-size: 25px;
        }
    }
    #BoxVerteAndBleu{
        display: flex;
        justify-content: center;
        padding-top: 22vh;
        color: #FFFFFF;
    }
    #BoxVerte{
        background-color: rgba($color: #B2D234, $alpha: 0.85);
        width: 45vw;
        height: 60vh;
        margin-right: 1vw;
        text-align: center;
        @media (min-width: 425px) and (max-width: 596px){
            height: auto;
        }

        #text{
            display: flex;
            justify-content: space-evenly;

            p{
                @media (min-width: 425px) and (max-width: 596px){
                    font-size: 15px;
                }
            }
        }
    }
    #BoxBleu{
        background-color: rgba($color: #60A0D8, $alpha: 0.85);
        width: 45vw;
        margin-left: 1vw;
        text-align: center;

        #text{
            display: flex;
            justify-content: space-evenly;

            p{
                @media (min-width: 425px) and (max-width: 596px){
                    font-size: 15px;
                }
            }
        }
    }
}
#SixthBlock {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background_second_block.jpg");
    background-repeat: repeat;
    background-size: 20%;
    background-position: top left;
    width: 100vw;
    height: 120vh;

    #FirstAndSecondBox{
        width: 100vw;
        display: flex;
        align-items: center;
        @media (min-width: 425px) and (max-width: 596px){
            justify-content: center;
            }
        
        #FirstBox{
            background-image: url("../images/background_sixth_block.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 40vw;
            height: 100vh;
            margin: 6%;
            @media (min-width: 425px) and (max-width: 596px){
            background-image: none;
            width: 0;
            margin: 0;
            }

        }
        #SecondBox{
            width: 60vw;    
            margin: 6%;
            h2{
                color: #B2D234;
                padding-bottom: 6%;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
    
    
}

h1{
    font-size: 126px;
    color: #FFFFFF;

    @media(min-width: 425px) and (max-width: 596px){
        font-size: 80px;
        text-align: center;
    }
}
h2{
    font-size: 52px;
    @media (min-width: 768px) and (max-width: 1023px){
        font-size: 30px;;
    }
    @media (min-width: 425px) and (max-width: 596px){
        font-size: 25px;;
    }
}
p{
    font-size: 18px;
}


